body{
    scrollbar-gutter: stable both-edges;
    overflow-y: scroll;
}


.banner{

    width: 1000px;
    height: 224px;
    
    border-radius: 15px;
}

.home-text{
    color: #18191F;
text-align: center;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
/* Heading/H1 */
font-size: 52px;
max-height: 200px;
width: 800px;
margin: 0;
font-family: Inter;
font-weight: 800;
}

.card_text{
    color: #414E5C;

/* Body / Body 1 */
font-size: 12px;
font-family: Inter;
line-height: 20px;
}

.banner__text{
    color: var(--default-white, #FFF);
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 54px;
}

.box-width{
    width: 200px;
    display: flex;
    justify-content: center;
}
.active{
    color: #0C89BF !important;
}


.wave_container {
    overflow: hidden;
    position: relative;
}

.wave_cont {
    overflow: hidden;
    position: relative;
    height: 89vh;
    z-index:0;
}

.wave1{
    width: 140%;
    left: 40%;
    top: 0%;
}
.wave_right{
    width: 150%;
    z-index: -1;
    left: 120%;
    top: 0%;
}

.wave_left{
    width: 80%;
    z-index: -1;
    left: 40%;
    top: 0%;

}

.wave2{
    width: 100%;
    left: 75%;
    top: -5%;
}
@media only screen and (max-width: 992px) {
    .wave1{
        width: 150%;
        }
    
    .wave2{
        width: 150%;

    }
  }
  @media only screen and (max-width: 768px) {
    .wave1{
        width: 200%;
        }
    
    .wave2{
        width: 200%;

    }
  }
.card-image{
object-fit: cover;
height: 100%;
background-position: bottom;
}

.height-100{
    height: 100%;
}
.img-hero{
    height: 400px;
    object-fit: cover;
}

.logo{
    height: 30px;
}
.logo-home{
    height: 60px;
}

.card_hero{
    height: 306.656px;
}

.inp:focus {
    border-color: rgb(158, 149, 149);
    box-shadow: 0 1px 1px rgba(255, 246, 241, 0.075)inset, 0 0 8px rgba(245, 229, 213, 0.6);
    outline:  2 none;
}

.inp:focus {
    outline: 0 none;
}


.non {
    user-select: none;
  }
  .non::selection {
    background: none;
  }
  .non::-moz-selection {
    background: none;
  }